.collaborators__content 
  position: relative
  display: flex
  align-items: center
  justify-content: center
  min-height: 700px
  margin-bottom: 100px
  color: #fff

  @include media-breakpoint-down(lg)
    min-height: 600px

  @include media-breakpoint-down(sm)
    min-height: 500px

.banner__collaborators-content
  display: flex
  flex-direction: column
  justify-content: center
  align-items: start
  text-align: start
  z-index: 2
  
.collaborators__banner-img
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  min-height: 700px
  filter: brightness(50%)
  z-index: -1

  @include media-breakpoint-down(lg)
   min-height: 600px

  @include media-breakpoint-down(sm)
    min-height: 500px

.banner__collaborators-title
  font-size: 52px

  @include media-breakpoint-down(lg)
    none

  @include media-breakpoint-down(sm)
    font-size: 34px

.banner__collaborators-subtitle, .collaborators__btn__info
  margin-top: 10%
  font-weight: normal

.collaborators__btn__info
  font-size: 16px
  padding: 16px 32px
  background: rgba(0, 0, 0, 0.2)
  backdrop-filter: blur(8px)
  border: 1px solid white
  transition: all 0.3s ease-in-out

.collaborators__btn__info:hover
  background: #153B67
  transition: all 0.3s ease-in-out


// COLABORATORS SECTION LOGOS

.logos__colaborators-img
  display: flex
  flex-direction: column
  text-align: center
  justify-content: center
  margin: 0 auto

  & img
    max-width: 400px
    height: auto

  // .sordo
  //   margin-top: 500px 

.logos__colaborators-txt
  text-align: start
  padding-left: 50px
  display: flex
  flex-direction: column
  justify-content: space-between
  height: 100% 

  & h4
    font-size: 28px
    margin-top: 20px
    text-transform: uppercase
    color: #272424

  & button
    color: #272424
    margin-top: auto 
    background-color: transparent
    text-align: start
    border: none
    border-bottom: 1px solid #272424
    padding-bottom: 10px  
    width: max-content
    margin-bottom: 100px

  @include media-breakpoint-down(lg)
    text-align: center
    padding: 0
  @include media-breakpoint-down(sm)
    text-align: center
    padding: 0


//** MODALES DE ICONOS **


.modal__colaborators
  display: none // mostrar/ocultar modal
  z-index: 1
  background: #fff
  top: 0
  left: 0
  width: 100%            
  height: 100%  
  padding: 0% 3% 3% 3%

.modal__colaborators-columns
  display: flex
  justify-content: space-between

  @include media-breakpoint-down(md)
    display: block

.modal__colaborators__scrollable-section 
  background-color: transparent
  padding: 20px
  width: 50% 
  max-height: 300px   
  overflow-y: auto    /* Habilita la barra de desplazamiento vertical */
  padding: 10px
  z-index: 5

  & p
    color: #272424

  @include media-breakpoint-down(lg)
    &::-webkit-scrollbar
      width: 12px  // Aumenta el ancho de la barra a 12px en pantallas pequeñas
    &::-webkit-scrollbar-thumb
      background-color: #888 
      border-radius: 5px

  @include media-breakpoint-down(md)
    width: 100%
    margin-bottom: 50px

.modal__colaborators-title
  display: flex
  justify-content: space-between
  margin-bottom: 20px

  & a
    color: #272424

.modal__colaborators__scrollable-img
  display: flex
  justify-content: end
  width: 50%

.modal__colaborators-awards p
  margin-top: 20px
  color: #272424

.__content-colaborators-txt
  display: flex
  justify-content: center
  padding: 50px

/**--------- slider modal

.modal__colaborators-slider-dwon
  margin-top: 30px
  background-color: #ECEFF3

.slider-item
  flex: 0 0 100% 
  scroll-snap-align: start
  padding: 20px
  box-sizing: border-box
  margin-right: 10px
  border-radius: 10px
  text-align: center

.slider-btn
  position: absolute
  top: 50%
  transform: translateY(-50%)
  color: white
  border: none
  padding: 10px
  cursor: pointer
  z-index: 1
  font-size: 18px
  border-radius: 50%
  transition: background-color 0.3s ease
  &.left
    left: 10px

  &.right
    right: 10px

.slick-next-icon
  color: white
  border: none
  width: 5%          
  height: 100%      
  background-color: #153B67CC    
  display: flex        
  justify-content: center  
  align-items: center   
  cursor: pointer
  position: absolute    
  right: 0              
  top: 50%              
  transform: translateY(-50%) 

  @include media-breakpoint-down(lg)
    width: 5%
  @include media-breakpoint-down(md)
    background-color: #4a7394   
    width: 15%

  &:hover
    background-color: #153B67
    &:hover i
      color: #fff

    @include media-breakpoint-down(md)
      &:hover
      background-color: #153B67CC   

.slick-next-icon:before
  margin-left: 100%

.slick-next-icon i
  font-size: 24px     
  color: #272424     

.__colaborators-slider-columns
  display: flex !important
  flex-direction: row
  justify-content: center
  padding: 20px

.__colaborators-slider-award-img
  margin: 5px
  width: 24px
  height: 24px

.__colaborators-columns-txt 
  width: 300px

  & h4, p
    text-align: start
    color: #272424

.close-modal-colaborators

  & button
    margin-top: 40px
    color: #272424
    padding: 16px
    border: none
    background-color: transparent
    border-bottom: 1px solid #153B67

  @include media-breakpoint-down(lg)
    margin-bottom: 50px