.collaborators__content
  position: relative
  color: #fff
  height: 800px
  
.collaborators__banner-img
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: auto
  filter: brightness(50%)
  z-index: -1

.banner__collaborators-content
  margin-top: 200px
  z-index: 2
  padding: 50px 0px

.banner__collaborators-title
  font-size: 52px
  font-weight: normal

.banner__collaborators-subtitle, .collaborators__btn__info
  margin-top: 40px
  font-weight: normal

.collaborators__btn__info
  padding: 16px 32px
  background: rgba(0, 0, 0, 0.2)
  backdrop-filter: blur(8px)
  border: 1px solid white
  transition: all 0.3s ease-in-out

.collaborators__btn__info:hover
  background: #153B67
  transition: all 0.3s ease-in-out

