.contact__banner
  position: relative
  display: flex
  align-items: center
  justify-content: center
  color: #fff
  min-height: 400px
  margin-bottom: 50px

.contact__banner p
  color: #272424

.contact__banner h2
  color: #153B67
  font-size: 48px

  @include media-breakpoint-down(sm)
    font-size: 36px
    text-align: center

.contact__img-principal
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  min-height: 400px
  filter: brightness(45%)
  z-index: -1

  @include media-breakpoint-down(lg)
    min-height: 600px

  @include media-breakpoint-down(sm)
    min-height: 500px

//***  FORM CONTACT FINISH

.form__contacto__final
  padding: 3% 0% 7% 0%
  background: #ECEFF3

  @include media-breakpoint-down(lg)
    padding: 3% 0% 10% 0%

  @include media-breakpoint-down(lg)
    padding: 3% 0% 15% 0%

.__final-txt
  text-align: center

  & h2
    letter-spacing: 0.1em
    font-size: 48px
    color: #153B67

    @include media-breakpoint-down(sm)
      font-size: 40px

  & p
    margin-top: 20px

.section__form-columns-final


  @include media-breakpoint-down(lg)
    flex-direction: column
    flex: 1

// ** seccion izquierda

.form__left-final
  flex: 1
  width: 100%

  @include media-breakpoint-down(lg)
    width: 100%

.form__info-final
  margin-top: 50px
  display: flex
  justify-content: space-between

  @include media-breakpoint-down(sm)
    flex-direction: column
    align-items: flex-start

.info__item-final
  display: flex

.info__item-title-final
  width: 100px

  @include media-breakpoint-down(sm)
    width: 90px
    font-size: 14px

.info__item-txt-final

  @include media-breakpoint-down(sm)
    font-size: 12px

  @media (max-width: 376px)
    width: 180px

.pipe-final
  padding-right: 20px

  @include media-breakpoint-down(sm)
    padding-right: 5px


// ** seccion derecha

  
.form__right-final
  display: flex
  flex-direction: column
  width: 750px
  margin: auto
  margin-top: 30px
  flex: 1

  @include media-breakpoint-down(lg)
    width: 100%

  .form__container
    display: flex
    flex-wrap: wrap

    > div
      flex: 1 1 50% // Dos columnas en pantallas grandes
      box-sizing: border-box // Incluye padding y border en el ancho total

      @include media-breakpoint-down(sm)
        flex: 1 1 100% // Una columna en pantallas pequeñas

  & label
    color: #272424
    margin-top: 30px
    margin-bottom: 1px

  & input,
  select,
  textarea
    border: none
    padding: 0
    border-bottom: 2px solid #153B67
    font-size: 14px
    color: #272424
    background-color: transparent
    outline: none
    width: 100%

    &:focus
      border-bottom-color: #5a799b

  .form__right-final select
    margin: 20px 0
    padding: 20px 0

.btn__form-final
  align-self: flex-end
  margin-top: 5%
  padding: 16px 32px
  font-size: 16px
  background-color: transparent
  color: #272424
  border: 2px solid #153B67
  cursor: pointer
  transition: all 0.8s ease-in-out
  width: auto

  &:hover
    background: #153B67
    color: #fff
    transition: all 0.8s ease-in-out

  @include media-breakpoint-down(sm)
    padding: 8px 18px
