body
  background: #ECEFF3

h1, h2, h3, h4
  font-family: "Belleza", sans-serif
  font-weight: 400
  
p, button, label, input, li
  font-size: 16px
  font-family: "Quattrocento", serif
  font-weight: 400

.home__content__principal
  position: relative
  display: flex
  align-items: center
  justify-content: center
  min-height: 800px
  @include media-breakpoint-down(lg)
    min-height: 600px

  @include media-breakpoint-down(sm)
    min-height: 500px

.home__content
  margin: 0px 0px 0px 3%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: start
  text-align: start
  z-index: 2
  
.home__carousel
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100% !important
  min-height: 900px
  filter: brightness(40%)
  z-index: -1

.home__banner__image
  height: 100%

  @include media-breakpoint-down(lg)
    height: 600px

  @include media-breakpoint-down(sm)
    height: 500px

.home__title
  margin-top: 20%
  font-size: 52px
  color: #fff

  @include media-breakpoint-down(lg)
    font-size: 34px

  @include media-breakpoint-down(sm)
    font-size: 34px

.home__subtitle, .home__contact-btn
  color: #fff
  margin-top: 40px

  @include media-breakpoint-down(sm)
    margin-top: 20px

.home__subtitle
  @include media-breakpoint-down(sm)
    padding: 0% 3% 0% 0%

.home__contact-btn
  position: relative
  padding: 16px 32px
  background: rgba(0, 0, 0, 0.2)
  backdrop-filter: blur(8px)
  border: 1px solid white
  color: white
  transition: all 0.3s ease-in-out
  overflow: hidden 

  &::after
    content: '' 
    position: absolute 
    left: 0 
    bottom: 0 
    width: 100% 
    height: 1.1px 
    background: white 
    transform: translateX(-100%)
    transition: transform 0.7s ease-in-out 

  &:hover
    border: none
    border-bottom: 1px solid #fff 
    background: #153B67
    transition: all 0.6s ease-in-out

    &::after
      transform: translateX(0) 


  @include media-breakpoint-down(sm)
  padding: 12px 28px

.home__submenu-link
  margin: 7% 0% 0% 3%

  @include media-breakpoint-down(sm)
    margin: 7% 0% 0% 3%

.home__banner__links
  display: flex
  flex-direction: row
  list-style: none
  padding-left: 0

.home__banner__links li

  @include media-breakpoint-down(sm)
    margin-left: 0


.pl__links
  margin-left: 20px

.carousel__button 
  background: transparent
  border: none
  color: white
  font-size: 16px
  padding-bottom: 10px
  transition: border-bottom 0.3s ease

  @include media-breakpoint-down(sm)
    font-size: 14px

  &.active 
    border-bottom: 2px solid white



//******************ABOUT
.about 
  background-color: #ECEFF3
  display: flex
  justify-content: center
  padding: 100px 0

  // @include media-breakpoint-down(sm)
  //   padding: 0

.about .row
  padding: 0px 10%

  @include media-breakpoint-down(lg)
    padding: 0px

.left-section

  & h1 
    font-size: 48px
    margin-top: 20px
    margin-bottom: 50px

    @include media-breakpoint-down(sm)
      font-size: 30px

  & p 
    text-transform: uppercase
    color: #272424 


.button-about 
  padding: 16px 32px
  border: none
  border-top: 2px solid #153B67
  border-right: 2px solid  #153B67
  border-bottom: 2px solid  #153B67
  border-left: 1px solid  #153B67
  color: #272424
  background-color: transparent
  cursor: pointer

  &:hover
    background: #153B67
    transition: all 0.6s ease-in-out
    color: #fff
  
  @include media-breakpoint-down(sm)
    margin-bottom: 30px

.right-section p
  margin-bottom: 40px
  color: #272424  

.line a.brochure-link 
  text-decoration: none
  color: #272424 
  font-size: 1rem

.about__btn-brochure
  color: #272424 
  border: none
  border-bottom: 1px solid #153B67
  padding: 16px 0px
  background-color: transparent

// ******************** section__development

.section__development
  position: relative
  display: flex
  align-items: center
  justify-content: center
  min-height: 600px
  padding: 0 20px
  color: #fff 

  @include media-breakpoint-down(sm)
    min-height: 700px


.development__image
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  min-height: 600px
  filter: brightness(30%)
  z-index: -1

  @include media-breakpoint-down(sm)
    min-height: 700px
    

.development__contain

  & h1
    letter-spacing: 0.2em
    font-size: 48px
    padding-top: 5%
    text-align: center

    @include media-breakpoint-down(sm)
      font-size: 30px

  & p
    padding-top: 1%
    text-align: center

.development-nums
  padding-top: 2%
  display: flex
  justify-content: space-evenly
  text-align: center
  flex-wrap: wrap 
  gap: 10px 

  & div
    flex: 1 1 calc(25% - 20px) 
    max-width: calc(25% - 20px)

  @include media-breakpoint-down(lg)
    none

  @include media-breakpoint-down(sm)
    & div
      flex: 1 1 calc(50% - 10px) 
      max-width: calc(50% - 10px)

.animate-on-scroll 
  font-size: 64px
  margin-bottom: 10px
  display: inline-block
  position: relative
  overflow: hidden
  height: 64px  
  line-height: 64px  

  span 
    display: block
    width: 100%
    text-align: center
    transition: transform 0.5s ease-in-out  

  &.animate-wheel 
    span 
      position: relative
      transform: translateY(100)

  @include media-breakpoint-down(sm)
    font-size: 36px 

.btn__development
    display: flex
    justify-content: center
    margin-top: 3%

    & button
      color: #fff
      position: relative
      padding: 16px 32px
      background: transparent
      border-top: 1px solid #ECEFF3
      border-right: 2px solid #ECEFF3
      border-bottom: 2px solid #ECEFF3
      border-left: 1px solid #ECEFF3
      display: flex
      justify-content: center
      align-items: center
      transition: all 0.8s ease-in-out
      overflow: hidden

      &::after
        content: '' 
        position: absolute 
        left: 0 
        bottom: 0 
        width: 100% 
        height: 1.1px 
        background: white 
        transform: translateX(-100%)
        transition: transform 0.7s ease-in-out 

      &:hover
        border: none
        border-bottom: 1px solid #fff 
        background: #153B67
        transition: all 0.6s ease-in-out

        &::after
          transform: translateX(0) 


      @include media-breakpoint-down(sm)
        padding: 12px 24px 
        font-size: 14px

//****************** inovation

.inovation
  background-color: #ECEFF3
  text-align: center
  padding: 50px 0px

  & h1
    font-size: 48px
    color: #153B67

    @include media-breakpoint-down(sm)
      font-size: 38px

  p, .btn-inovation
    color: #272424
    margin-top: 2%

  .inovation__txt
    padding: 50px 0px
  
    @include media-breakpoint-down(sm)
      padding: 0px 10px 50px

  .btn-inovation
    padding: 16px 32px
    border: 1px solid #153B67
    background: transparent

    @include media-breakpoint-down(sm)
      padding: 10px 20px

    &:hover
      color: #fff
      background: #153B67
      transition: all 0.3s ease-in-out


//** slider **
#carousel
  margin-bottom: 50px

.carousel__home
  display: flex
  align-items: center
  justify-content: center
  max-height: 800px
  max-width: 100% 
  overflow: hidden

  // @include media-breakpoint-down(lg)
  //   max-height: 600px

  .slick-dots
    margin: 30px 0px
    position: relative
    text-align: start
    margin-left: 35%
    height: 50px
    transition: transform 0.7s ease-in-out 

    @include media-breakpoint-down(lg)
      margin-left: 20%

    @include media-breakpoint-down(sm)
      margin: 0px
      margin-left: 10%

  & .slick-dots li
    padding: 50px 20px

    @include media-breakpoint-down(sm)
      padding: 40px 0px

  & .slick-dots li button:before
    color: #153B67
    opacity: 1 
    font-size: 14px

    @include media-breakpoint-down(sm)
      font-size: 10px

  & .slick-dots li.slick-active button:before 
    margin-top: 10%
    color: transparent
    background: #153B67
    width: 30px
    height: 10px
    border-radius: 30px
    transition: all 0.3s ease-in-out

    @include media-breakpoint-down(sm)
      width: 20px

.carousel__home img
  height: 420px
  width: 800px
  // width: auto
  // height: auto
  display: block

  @include media-breakpoint-down(lg)
    height: 350px
    width: 500px

  @include media-breakpoint-down(sm)
    height: 350px
    width: 330px

.slick-next__home, .slick-prev__home
  border: 1px solid #153B67
  border-radius: 50%
  position: absolute  
  top: 50%           
  transform: translateY(-50%)
  width: 70px
  height: 70px
  color: #153B67
  z-index: 1
  background: none
  cursor: pointer  
  display: flex
  justify-content: center
  align-items: center 

.slick-next__home
  font-size: 40px
  margin-top: 17%
  right: 23%

  @include media-breakpoint-down(lg)
    margin-top: 26%
    right: 18%
  
.slick-prev__home
  font-size: 40px
  left: 63%
  margin-top: 17%

  @include media-breakpoint-down(lg)
    margin-top: 26%
    left:  58%

.slick-prev__home p,
.slick-next__home p 
  margin: 5px
  color: #153B67

.img__carousel
  position: relative  

.slick__img
  width: 100%          
  height: 100%          
  object-fit: cover
  object-position: center

.carousel__content
  position: absolute
  top: 20px
  left: 20px
  width: 320px
  height: 370px
  background-color: #ECEFF3
  padding: 40px

  @include media-breakpoint-down(lg)
    width: 300px
    height: 300px
    padding: 10px

  @include media-breakpoint-down(sm)
    top: 30px
    left: 10px
    width: 200px
    height: 280px
    padding: 5px 

    & p
      font-size: 14px

.carousel__content h3
  color: #272424
  font-size: 28px

  @include media-breakpoint-down(sm)
    font-size: 20px

.p__carousel
  margin-top: 30px

  @include media-breakpoint-down(sm)
    margin-top: 10px


.btn__cardcarousel button
  margin-top: 40px
  border-top: 1px solid #153B67
  border-right: 2px solid #153B67
  border-bottom: 2px solid #153B67
  border-left: 1px solid #153B67
  padding: 16px 32px
  background: transparent

  @include media-breakpoint-down(lg)
    margin-top: 20px
    padding: 12px 24px

  @include media-breakpoint-down(sm)
    margin-top: 10px
    padding: 10px 26px
    font-size: 14px
  

.btn__cardcarousel button:hover
  color: #fff
  background: #153B67
  transition: all 0.3s ease-in-out


// *********** red__inmob

.red__inmob
  margin-top: 15%
  text-align: center
  background-color:  #153B67
  color: #fff
  padding: 120px 20px

  @include media-breakpoint-down(sm)
    padding: 60px 20px

  h2
    margin: auto
    width: 40%
    font-size: 48px
    text-transform: uppercase

    @include media-breakpoint-down(lg)
      width: 60%
      font-size: 40px

    @include media-breakpoint-down(sm)
      width: 100%
      font-size: 34px

  

  .p__inmob
    margin: auto
    width: 51%
    margin-top: 30px

    @include media-breakpoint-down(lg)
      margin: auto
      margin-top: 30px
      width: 100%

    @include media-breakpoint-down(lg)
      width: 95%

  .grid
    display: grid
    grid-template-columns: repeat(4, 1fr) 
    gap: 50px
    max-width: 1200px
    margin: 0 auto
    padding-top: 7%

    @include media-breakpoint-down(lg)
      grid-template-columns: repeat(3, 1fr)

    @include media-breakpoint-down(md)
      grid-template-columns: repeat(2, 1fr) 

    @include media-breakpoint-down(sm)
      grid-template-columns: 1fr 
      gap: 10px

  .grid__box
    display: flex
    justify-content: space-between
    align-items: center
    color: #fff
    border-radius: 8px
    flex-wrap: wrap 
    position: relative
    cursor: pointer

    p
      margin: 0

      @include media-breakpoint-down(lg)
        font-size: 12px

    @include media-breakpoint-down(sm)
      flex-direction: row 
      gap: 10px

    &::after
      content: ''
      position: absolute
      bottom: 0
      left: 0
      width: 100%
      height: 1px
      background-color: #fff
      transform: scaleX(0) // Inicia invisible con un tamaño de 0 en el eje X
      transform-origin: left // La animación comienza desde la izquierda
      transition: transform 0.5s ease // Duración de la animación y su suavidad

    &:hover::after
      transform: scaleX(1) // Escala la línea al 100% de su ancho


