body
  background: #ECEFF3
  
p
  font-size: 16px

.menu-overlay
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  background-color: #153B67
  display: none
  flex-direction: column
  justify-content: center
  align-items: center
  z-index: 3
  opacity: 0
  transition: opacity 0.5s ease-in-out

  &.active
    display: flex
    opacity: 1

.menu-list
  list-style: none
  text-align: center
  padding: 0

  li
    margin: 20px 0

    a
      color: white
      text-decoration: none
      font-size: 36px
      border-bottom: 1px solid white
      padding-bottom: 10px
      transition: color 0.3s ease-in-out

      &:hover
        color: #ddd

  //******

.landing__content
  position: absolute
  color: #fff

.landing__content
  position: relative
  color: #fff
  // padding: 70px 0 300px
  
.banner__image
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: auto
  filter: brightness(50%)
  z-index: -1

.landing__menu
  position: absolute
  display: flex
  justify-content: space-between
  align-items: center
  width: 100%
  padding: 50px 100px
  top: 0
  left: 0
  z-index: 4

.close__menu
  display: none

.banner__content
  margin-top: 100px
  z-index: 2
  padding: 100px 0

.banner__title
  font-size: 52px
  font-weight: normal

.banner__subtitle, .contact-btn
  margin-top: 40px
  font-weight: normal

.contact-btn
  padding: 16px 32px
  background: rgba(0, 0, 0, 0.2)
  backdrop-filter: blur(8px)
  border: 1px solid white
  transition: all 0.3s ease-in-out

.contact-btn:hover, .btn__development button:hover,
.button-about:hover
  background: #153B67
  transition: all 0.3s ease-in-out

.submenu-link
  margin-top: 100px
  font-weight: normal

.banner__links
  display: flex
  flex-direction: row
  list-style: none
  padding-left: 0

  & a
    color: white
    text-decoration: none

.pl__links
  margin-left: 20px

.banner__social-icons
  position: fixed
  right: 40px
  top: 70%
  display: flex
  flex-direction: column
  align-items: center
  gap: 10px
  z-index: 3
  a
    display: block

//******************S
  
.about
  width: 100%
  padding: 50px 0

.about p, .about h1, .about button, .brochure-link
  color: #272424
  
.about-content
  margin: 0 auto

.left-section, .right-section
  display: flex
  justify-content: space-between

.left-section, .right-section
  align-items: flex-end

.left-section p, .left-section h1, .about p
  padding-left: 15%

.about p
  margin-top: 3%

.left-section h1, .development h1
  font-size: 48px

.left-section p
  padding-right: 15%

.right-section
  margin-top: 3%

.button-about
  margin-left: 15%
  padding: 16px 32px
  background: #ECEFF3
  &:hover
    color: #FFFFFF

.line a
  text-decoration: none

.line
  padding-right: 35%

.right-section hr
  margin-top: 10px
  width: auto
  border: 1px solid #272424

// ********************

.section__development
  position: relative

.development__image
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: auto
  filter: brightness(50%)
  z-index: -1

.section__development h1, h3, p, button
  color: #fff

.development__contain h1
  padding-top: 5%
  text-align: center

.development__contain p
  padding-top: 1%
  text-align: center

.development-nums
  padding-top: 2%
  display: flex
  justify-content: space-evenly
  text-align: center

.development-nums h3
  font-size: 64px

.btn__development
  display: flex
  justify-content: center
  margin-top: 3%

.btn__development button
  font-size: 16px
  padding: 16px 32px
  background: transparent
  border: 1px solid #ECEFF3
  display: flex
  justify-content: center
  align-items: center

.inovation
  text-align: center
  margin-top: 18%

.inovation h1
  color: #153B67

.inovation p, .btn-inovation
  color: #000

.inovation p, .btn-inovation
  margin-top: 2%

.btn-inovation 
  padding: 16px 32px
  border: 1px solid #153B67
  background: transparent

.btn-inovation:hover
  color: #fff
  background: #153B67
  transition: all 0.3s ease-in-out


//** slider **
#carousel
  margin-top: 7%

.slick-next, .slick-prev
  top: 110% 

.slick-next:before, .slick-prev:before
  font-size: 60px
  color: #153B67

.slick-next:before
  margin-left: 40%

.slick-prev:before
  margin-left: 35%

.img__carousel
  position: absolute

.carousel__content
  position: absolute
  margin-left: 50px
  margin-top: .7%
  width: 4%
  background-color: #ECEFF3
  padding: 40px

.carousel__content h3, .carousel__content p, 
.btn__cardcarousel button
  color: #272424 

.carousel__content h3
  font-size: 28px

.p__carousel
  margin-top: 30px

.btn__cardcarousel button
  margin-top: 40px
  border: 1px solid #272424
  padding: 16px 32px
  background: transparent

.btn__cardcarousel button:hover, .btn__form:hover
  color: #fff
  background: #153B67
  transition: all 0.3s ease-in-out 

// ***********

.red__inmob
  margin-top: 15%
  text-align: center
  background-color:  #153B67
  color: #fff
  padding: 120px 20px

.red__inmob h2
  font-size: 48px
  text-transform: uppercase
  font-weight: normal

.p__inmob
  margin-top: 30px

.grid
  display: grid
  grid-template-columns: repeat(4, 1fr) /* 4 columnas para mantener una estructura alineada */
  gap: 50px
  max-width: 1200px
  margin: 0 auto
  padding-top: 7%


.grid__box
  display: flex
  justify-content: space-between
  align-items: center

//** form ****

.section__form
  margin: 7% 7%
  display: flex
  justify-content: space-between

.section__form p
  color: #272424

.section__form h2
  color: #153B67
  font-size: 48px

.form__left
  flex: 1
  width: 35%

.p__left
  margin-top: 5%

.form__info
  margin-top: 18%
      
.info__item
  display: flex
  justify-content: stretch

#p__left
  margin-left: 3%

#pipe__form1, #pipe__form2, #pipe__form3
  color: #153B67
  line-height: 1

#pipe__form1
  font-size: 58px
  margin-left: 3%

#pipe__form2
  margin-left: 4.5%

#pipe__form3
  margin-left: 9.5%

#pipe__form2, #pipe__form3
  font-weight: 900


.form__right
  margin-top: 5%
  flex: 1

.form__right form
  display: flex
  flex-direction: column
  margin-left: 20%
  width: 65%
  & label
    color: #272424
  & input, select, textarea
    border: none
    border-bottom: 2px solid #153B67
    font-size: 1rem
    color: #272424
    background-color: transparent
    outline: none  
    &:focus
      border-bottom-color: #5a799b

.form__right form input
  margin-bottom: 4%

.btn__form 
  align-self: flex-end // Alinea el botón a la derecha dentro del formulario
  margin-top: 5%
  padding: 16px 32px
  font-size: 16px
  background-color: transparent
  color: #272424
  border: 2px solid #153B67
  cursor: pointer
  transition: background-color 0.3s, color 0.3s
  width: auto // Asegura que el botón no ocupe todo el ancho del contenedor
  








@media (max-width: 768px)
  .grid
    grid-template-columns: repeat(2, 1fr) /* En pantallas más pequeñas, 2 columnas */

    .section__form
    flex-direction: column

    .form__left
      padding-right: 0
      margin-bottom: 20px

@media (max-width: 480px)
  .grid
    grid-template-columns: repeat(1, 1fr) /* En móviles, 1 columna */
