//** form ****

.section__form
  padding: 3% 0%
  background: #ECEFF3

.section__form-columns
  display: flex
  justify-content: space-between
  align-items: center

  @include media-breakpoint-down(lg)
    flex-direction: column
    flex: 1

.section__form p
  color: #272424

.section__form h2
  color: #153B67
  font-size: 48px

  @include media-breakpoint-down(sm)
    font-size: 36px
    text-align: center

.form__left
  flex: 1
  width: 35%

  @include media-breakpoint-down(lg)
    width: 100%

.p__left
  margin-top: 5%

.form__info
  margin-top: 18%
      
.info__item
  display: flex
  justify-content: stretch

#p__left
  margin-left: 3%

#pipe__form1, #pipe__form2, #pipe__form3
  color: #153B67
  line-height: 1

#pipe__form1
  font-size: 58px
  margin-left: 3%

#pipe__form2
  margin-left: 4.5%

#pipe__form3
  margin-left: 9.5%

#pipe__form2, #pipe__form3
  font-weight: 900


.form__right
  margin-top: 5%
  width: 65%
  flex: 1

  @include media-breakpoint-down(lg)
    width: 100%

  & label
    color: #272424
    margin-top: 20px

  & input, select, textarea
    border: none
    border-bottom: 2px solid #153B67
    font-size: 16px
    color: #272424
    background-color: transparent
    outline: none  
    &:focus
      border-bottom-color: #5a799b

.btn__form 
  align-self: flex-end 
  margin-top: 5%
  padding: 16px 32px
  font-size: 16px
  background-color: transparent
  color: #272424
  border: 2px solid #153B67
  cursor: pointer
  transition: background-color 0.3s, color 0.3s
  width: auto 
  

// ******  
  
footer
  text-align: center
  background-color: #272424
  color: #fff
  padding: 60px 0px
  
.footer__logo
  display: flex
  flex-direction: column
  justify-content: space-between
  margin-right: 250px

  @include media-breakpoint-down(lg)
    align-items: flex-start

  .img-footer
    width: 200px
    text-align: start

    @include media-breakpoint-down(lg)
      width: 150px    

  & p
    margin-top: 20px
    text-align: start

  @include media-breakpoint-down(lg)
    margin-right: 0px
    justify-content: start

.footer__columns
  display: flex
  justify-content: space-between
  margin: 0px 50px 0px 50px

  @include media-breakpoint-down(sm)
    align-items: center
    flex-direction: column

.footer__column
  text-align: start

  @include media-breakpoint-down(sm)
    text-align: center

  & h3
    font-size: 20px
    text-transform: uppercase
    margin-bottom: 15px

  & ul
    list-style: none
    padding: 0

  & li
    margin-bottom: 10px

  @include media-breakpoint-down(lg)
    & h3
      font-size: 18px

.__column-sordo
  display: flex
  flex-direction: column
  justify-content: center
  margin-top: 10px



